# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/

# Database files
*.db
*.sqlite3

# Coverage reports
.coverage
coverage.xml
htmlcov/

# Logs
logs/
*.log

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
